<!DOCTYPE html>
{% load static %}
{% load django_htmx %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Momentum</title>

    <script src="https://cdn.tailwindcss.com"></script>
    {% htmx_script %}
</head>
<body class="bg-gray-100 text-gray-800" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <nav class="bg-white shadow-md p-4">
        <div class="container mx-auto">
            <a href="/" class="text-xl font-bold text-blue-600">Momentum</a>
        </div>
    </nav>

    <main class="container mx-auto mt-8 p-4">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>